/*cabecalho login e registrar*/
.cabecalho {
    background: #B1C053;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

.cabecalho__titulo {
    padding: 1em;
    display: flex;
    align-items: center;
    color: #0a3d0d;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.cabecalho__botao-nav {
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
    text-decoration: none;
    color: #0a3d0d;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}
.tag__perfil {
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
    text-decoration: none;
    color: #0a3d0d;
    font-size: 25px;
    font-weight: bold;
}

.cabecalho__botao-nav:hover {
    background-color: #0a3d0d;
    color: #ffffff;
    cursor: pointer;
}
.bteste{
    justify-content: center;
}
/*body login*/
.login {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 2rem 1rem 2rem;
}

.login__imagem {
    width: 50%;
    max-width: 400px;
    margin-right: 1rem;
}

.login__entrada {
    align-items: center;
    justify-content: center;
    background: #B1C053;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem 0 1rem 0;
    width: 50%;
    max-width: 400px;
}

.login__entrada__titulo {
    text-decoration: none;
    color: #0a3d0d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login__entrada__acesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__usuario, .login__senha {
    margin: 1rem 0 1rem 0;
}

.login__campo {
    height: 50px;
    width: 20rem;
}

.login__label {
    display: block;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: #0a3d0d;
    font-size: 20px;
    font-weight: bold;
}

.login__botao {
    margin-top: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #0a3d0d;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

    .login__botao:hover {
        background-color: #0a3d0d;
        color: #ffffff;
        cursor: pointer;
    }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    /**
 * Remove the inner border and padding in Firefox.
 */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /**
 * Restore the focus styles unset by the previous rule.
 */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

    /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: var(--branco);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;

}

.cabecalho__critics {
    width:2000px;
}

.cabecalho__todos__imagem{
    position:absolute;

}

.barra {
    background-color: #B1C053;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
    position: relative;
    height: 127px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 25px;
}

.logoNome {
    padding: 1em;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Poppins';
    text-align: center;
}

A {
    color: #000000;
    text-decoration: none;
    align-items: center;
}

.Pesquisa {
    background-color: white;
    border-radius: 22px;
}

p {
    font-family: 'sans-serif';
    font-size: 30px;
    font-weight: 'semibold';
    text-align: center;
}

.Perfil {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 25px;
}

.Principal {
    display: grid;
    align-items: center;
}

.Noticias {
    display: grid;
    align-items: center;
}

.Conteudo {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 500px;
    background-color: #ffffff;
}

.conteudo-left {
    width: 650px;
    height: 500px;
    float: left;
    background-color: #B1C053;
    border-radius: 22px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items:center;

}

.mais-avaliados {
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 500px;
    float: right;
    background-color: #B1C053;
    border-radius: 22px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.titulo_conteudo_right {
    grid-column-start: 1;
    grid-column-end: 4;
}
/*.Lista{

            background-color: yellowgreen;
            display: grid;
            grid-template-rows: repeat(2,1fr);
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 10px;
            grid-row-gap: 1em;
            padding:10px
        }*/
.avaliacoes {
    display:flex;
    background-color: yellowgreen;
    border-radius: 22px;
    justify-content: center;
    align-items:center;
}

.dot {
    height: 158px;
    width: 158px;
    background-color: #bbb;
    border-radius: 50%;
    justify-self: center;
}

.control-label{
    color:black;
}

.barra {
    background-color: #B1C053;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    height: 127px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 25px;
}

.logoNome {
    padding: 1em;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Poppins';
    text-align: center;
}

A {
    color: #000000;
    text-decoration: none;
    align-items: center;
}

.Pesquisa {
    background-color: white;
    border-radius: 22px;
}

p {
    font-family: 'sans-serif';
    font-size: 30px;
    font-weight: 'semibold';
    text-align: center;
}

.Perfil {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 25px;
}

.Principal {
    display: grid;
    align-items: center;
}

.Lista {
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding: 10px
}

.Paragrafo {
    background-color: yellowgreen;
    height: 127px;
}

.filmes {
    background-color: #D7F879;
    border-radius: 40px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.filmes-pesquisados {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}

.filme {
    background-color: #D7F879;
    height: 324px;
    width: 1028px;
    margin: 10px;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.imagem {
    width: 202px;
    height: 292px;
    background-color: black;
    margin: 20px;
}

.conteudo {
    display: flex;
    align-items: center;
}

.abacates {
    display: flex;
    justify-content: center;
}

.barra {
    background-color: #B1C053;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    height: 127px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 25px;
}

.logoNome {
    padding: 1em;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Poppins';
    text-align: center;
}

A {
    color: #000000;
    text-decoration: none;
    align-items: center;
}

.Pesquisa {
    background-color: white;
    border-radius: 22px;
}

p {
    font-family: 'sans-serif';
    font-size: 30px;
    font-weight: 'semibold';
    text-align: center;
}

.Perfil {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 25px;
}

.Principal {
    display: grid;
    align-items: center;
}

.Lista {
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding: 10px
}

.Paragrafo {
    background-color: yellowgreen;
    height: 127px;
}

.filmes {
    background-color: #D7F879;
    border-radius: 40px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.Indicacao {
    grid-row-start: 2;
    grid-row-end: 4;
}

.capa {
    height: 364px;
}

.conteudo {
    display: grid;
    grid-template-rows: 190px 50px 1fr;
}

.dot {
    height: 158px;
    width: 158px;
    background-color: #bbb;
    border-radius: 50%;
    justify-self: center;
    margin: 25px;
}

.foto {
    border-radius: 50%;
}

.perfil-nome {
    display: flex;
    align-items: center;
    margin: 25px
}

.assistidos {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.filmes-assistidos {
    display: grid;
    grid-template-rows: 1fr 210 30 1fr;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.back-filmes-assistidos {
    background-color: #D7F879;
    border-radius: 40px;
}
.tabela {
    background-color: #D7F879;
    height: 100%;
    width: 1028px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,1fr);
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px
}

.botao {
    width: 100px;
    height: 50px;
}

.justifica {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comentarios {
    display: flex;
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.label_comentarios {
    display: flex;
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 1;
    align-items: center;
    justify-content: center;
}

.abacatokens {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
}
.conteudo-avaliacao {
    display: grid;
    grid-template-rows: 300px 50px 800px;
}
.filmes-pesquisados {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
.titulo {
    margin: 50px;
}




/* CCS bdo formulário defs cadastro*/
.formulario__titulo {
    align-items: center;
    color: #0a3d0d;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    margin-top: 1rem;
}
.formulario__corpo {
    align-items: center;
    color: #0a3d0d;
    display: flex;
    justify-content: center;
}

.control-label{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.botao {
    text-decoration: none;
    border-radius: 1rem;
    color: #0a3d0d;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
