<body>
    <div class="cabecalho" id="cab_login_registrar">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
            </a>
            <a class="cabecalho__botao-nav" asp-action="Inicial" asp-controller="Home">MY CRITICS</a>
        </div>
        <a class="cabecalho__botao-nav" asp-controller="home" asp-action="Indicacoes">
            <p class="p"> Lista de Filmes </p>
        </a>
        <div class="">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <img src="~/images/mulher-perfil.jpg" alt="some text" width=51 height=52 class="Pesquisa">
                <p class="Titulo"> Clara </p>
            </a>

            <p></p>
        </div>
    </div>
    <div class="Principal">
        <div class="conteudo-avaliacao">
            <div class="filmes-pesquisados">
                <div class="filme">
                    <div class="imagem">
                        <img src="~/images/avengers.jpg" alt="some text" width=100% height=100%>
                    </div>
                    <div>
                        <p>Avengers</p>
                        <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.</p>
                    </div>
                </div>
            </div>
            <div class="titulo">
                <p>Sua Avaliação</p>
            </div>
            <div class="container">
                <div class="tabela">
                    <p>Categorias</p>
                    <div class="abacatokens">
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                    </div>
                    <p>Filme</p>
                    <div class="abacatokens">
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                    </div>
                    <p>Direção</p>
                    <div class="abacatokens">
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                    </div>

                    <p>Roteiro</p>
                    <div class="abacatokens">
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                    </div>
                    <p>Sonoplastia</p>
                    <div class="abacatokens">
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                    </div>
                    <p>Figurino</p>
                    <div class="abacatokens">
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                        <input type="checkbox"></input>
                    </div>

                    <div class="label_comentarios">
                        <p>Comentários:</p>
                    </div>
                    <div class="comentarios">
                        <textarea name="Text1" cols="40" rows="10"></textarea>
                    </div>
                    <p></p>
                    <div class="justifica">
                        <button class="botao">Enviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>