@model MyCritics.Models.Usuario
<body>
    
    <div class="cabecalho" id="cab_login_registrar">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
            </a>
            <a class="cabecalho__botao-nav" asp-action="Inicial" asp-controller="Home">MY CRITICS</a>
        </div>
        <a class="cabecalho__botao-nav" asp-controller="home" asp-action="Indicacoes">
            <p class="p"> Lista de Filmes </p>
        </a>
        <div class="">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <img src="~/images/mulher-perfil.jpg" alt="some text" width=51 height=52 class="Pesquisa">
                <p class="Titulo"> @TempData.Peek("Nome") </p>
            </a>
            <p></p>
        </div>
    </div>
    <div class="Principal">

        <div class="Noticias">
            <a href="/">
                <center>
                    <img src="~/images/Corra.jpeg" alt="Corra!" title="Corra é sucesso de bilheteria!" width=1320 height=300 class="Pesquisa">
                </center>
            </a>
        </div>

        <div class="Conteudo">

            <div class="conteudo-left">
                <p class="Titulo"> Últimas avaliações dos amigos </p>
                <p class="avaliacoes">
                    <img src="~/images/Keanu.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou Matrix 4!
                </p>
                <p class="avaliacoes">
                    <img src="~/images/US.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou Spider-man 3!
                </p>
                <p class="avaliacoes">
                    <img src="~/images/Candyman.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou O Rei Macaco!
                </p>


            </div>

            <div class="mais-avaliados">

                <div class="titulo_conteudo_right">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>

            </div>

        </div>
    </div>

</body>
