<body>
    <div class="Principal">

        <div class="Noticias">
            <a href="/">
                <center>
                    <img src="~/images/Corra.jpeg" alt="Corra!" title="Corra é sucesso de bilheteria!" width=1320 height=300 class="Pesquisa">
                </center>
            </a>
        </div>

        <div class="Conteudo">

            <div class="conteudo-left">
                <p class="Titulo"> Últimas avaliações dos amigos </p>
                <p class="avaliacoes">
                    <img src="~/images/Keanu.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou Matrix 4!
                </p>
                <p class="avaliacoes">
                    <img src="~/images/US.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou Spider-man 3!
                </p>
                <p class="avaliacoes">
                    <img src="~/images/Candyman.jpg" alt="some text" width=51 height=52 class="Pesquisa">Avaliou O Rei Macaco!
                </p>


            </div>

            <div class="mais-avaliados">

                <div class="titulo_conteudo_right">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>
                <p></p>
                <div class="dot">
                    <p class="Titulo"> Filmes mais avaliados </p>
                </div>

            </div>

        </div>
    </div>

</body>
