@model Usuario
<!DOCTYPE html>
<header class="cabecalho">
    <h1 class="cabecalho__titulo">MY CRITICS</h1>
    <nav class="cabecalho__navegacao">
        <ul class="cabecalho__navegacao-botoes">
            <a class="cabecalho__botao-nav" asp-action="Create" asp-controller="Usuarios">Resgistrar</a>
        </ul>

    </nav>
</header>
<body>

    <section class="login">
        <img class="login__imagem pull-left" src="~/images/abacate.png" width="300" height="300" alt="Mascote Abacate">
        <div class="login__entrada">
            <div class="login__entrada__titulo"><h2>Login</h2></div>

            <form asp-controller="Home" asp-action="Login" method="post" class="login__entrada__acesso">
                <div class="login__usuario">
                    <label class="login__label" for="nome">Usuário:</label>
                    <input class="login__input form-control" type="text" asp-for="Email" placeholder="Digite seu usuário" required />
                </div>
                <div class="login__senha">
                    <label class="login__label" for="nome">Senha:</label>
                    <input class="login__input form-control" type="password" asp-for="Password" placeholder="Digite sua senha" required />
                </div>
                <button class="login__botao btn-block btn-large" type="submit">Entrar</button>
                </form>
            

        </div>
    </section>
</body>
</html>