@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~css/normalize.css">
    <link rel="stylesheet" href="~css/reset.css">
    <link rel="stylesheet" href="~css/cabecalho.css">
    <link rel="stylesheet" href="~css/login.css">
</head>


<body>
    <section class="login">
        
        <div class="login__entrada">
            <div class="login__entrada__titulo"><h2>Login</h2></div>

            <form method="post" class="login__entrada__acesso">
                <div class="login__usuario">
                    <label class="login__label" for="nome">Usuário:</label>
                    <input class="login__input" type="text" name="nome" id="nome" placeholder="Digite seu usuário" required />
                </div>
                <div class="login__senha">
                    <label class="login__label" for="nome">Senha:</label>
                    <input class="login__input" type="password" name="password" id="password" placeholder="Digite sua senha" required />
                </div>
                <button class="login__botao btn btn-primary btn-block btn-large" type="submit">Entrar</button>
                <a class="btn btn-block btn-large btn-default"  asp-action="Create" asp-controller="Usuarios">Resgistrar</a>
            </form>
            <img class="login__imagem pull-left" src="~/images/abacate.png" width="300" height="300" alt="Mascote Abacate">

        </div>
    </section>
</body>
</html>