@{
    ViewData["Title"] = "Login";
}
<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
        <a asp-controller="Usuarios" asp-action="Create" class="btn btn-default btn-block btn-large">Registrar</a>
    </form>
</div>
