@model MyCritics.Models.Usuario
<body>
    <div class="barra">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
            </a>
            <a asp-controller="home" asp-action="Inicial">
                <p class="Titulo"> MY CRITICS </p>
            </a>
        </div>
        <a asp-controller="home" asp-action="Inicial">
            <p class="p"> Início </p>
        </a>
        <a asp-controller="home" asp-action="Indicacoes">
            <p class="p"> Minha Lista </p>
        </a>
        <input type="text" placeholder="Pesquisa"></input>

        <div class="Perfil">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <img src="~/images/mulher-perfil.jpg" alt="some text" width=51 height=52 class="Pesquisa">
                <p class="Titulo"> @ViewBag.Nome </p>
            </a>

            <p></p>
        </div>

    </div>
    <div class="Principal">
        <div class="capa">
            <img src="~/images/mulher-perfil.jpg" alt="some text" width=100% height=364>
        </div>
        <div class="conteudo">
            <div class="perfil-nome">
                <div class="dot">
                    <img src="~/images/mulher-perfil.jpg" alt="some text" width=158 height=158 class="foto">
                </div>
                <p>@ViewBag.Nome @ViewBag.Sobrenome </p>
            </div>
            <div class="perfil-nome">
                <p>Assistidos Recentemente</p>
            </div>
            <div class="assistidos back-filmes-assistidos">
                <div class="filmes-assistidos">
                    <p></p>
                    <img src="~/images/Corra.jpeg" alt="some text" width=202 height=292>
                    <p>GET OUT </p>
                    <p></p>
                </div>
                <div class="filmes-assistidos">
                    <p></p>
                    <img src="~/images/US.jpg" alt="some text" width=202 height=292>
                    <p>US </p>
                    <p></p>
                </div>
                <div class="filmes-assistidos">
                    <p></p>
                    <img src="~/images/Candyman.jpg" alt="some text" width=202 height=292>
                    <p>Candyman </p>
                    <p></p>
                </div>
                <div class="filmes-assistidos">
                    <p></p>
                    <img src="~/images/avengers-infinity-war-official-poster-2018-4o.jpg" alt="some text" width=202 height=292>
                    <p>Infinity War</p>
                    <p></p>
                </div>
                <div class="filmes-assistidos">
                    <p></p>
                    <img src="~/images/Spider-Man_No_Way_Home_poster.jpg" alt="some text" width=202 height=292>
                    <p>No Way Home </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>