<body>
    <div class="Principal">
        <div class="filmes-pesquisados">
            <div class="filme">
                <div class="imagem">
                    <img src="~/images/avengers.jpg" alt="some text" width=400 height=400>
                </div>
                <div>
                    <p>Avengers</p>
                    <p>2012, 12 anos, 2h 23m</p>
                    <div class="abacates">
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                    </div>
                    <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.</p>
                </div>
            </div>
            <div class="filme">
                <div class="imagem">
                    <img src="~/images/Corra.jpeg" alt="some text" width=400 height=400>
                </div>
                <div>
                    <p>Get Out</p>
                    <p>2017, 14 anos, 1h 44m</p>
                    <div class="abacates">
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                        <img src="~/images/abacate-removebg-preview.png" alt="some text" width=33 height=34>
                    </div>
                    <p>A young African-American visits his white girlfriend's parents for the weekend, where his simmering uneasiness about their reception of him eventually reaches a boiling point.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
