@model MyCritics.Models.Filme

@{ ViewData["Title"] = "Edit"; }

<header class="cabecalho">
    <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
    <h1 class="cabecalho__titulo">ADMINISTRADOR</h1>
    <nav class="cabecalho__navegacao">
        <ul class="cabecalho__navegacao-botoes">
            <a class="cabecalho__botao-nav" asp-action="Index" asp-controller="Filmes">Retornar a lista</a>
        </ul>

    </nav>
</header>

<h4 class="formulario__titulo">Filmes - Edição</h4>
<hr />
<div class="row formulario__corpo">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
