@model MyCritics.Models.Avaliacao

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Avaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <select asp-for="UsuarioID" class="form-control" asp-items="ViewBag.UsuarioID"></select>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmeID" class="control-label"></label>
                <select asp-for="FilmeID" class="form-control" asp-items="ViewBag.FilmeID"></select>
                <span asp-validation-for="FilmeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFilme" class="control-label"></label>
                <input asp-for="NotaFilme" class="form-control" />
                <span asp-validation-for="NotaFilme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaDiretor" class="control-label"></label>
                <input asp-for="NotaDiretor" class="form-control" />
                <span asp-validation-for="NotaDiretor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFigurino" class="control-label"></label>
                <input asp-for="NotaFigurino" class="form-control" />
                <span asp-validation-for="NotaFigurino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaRoteiro" class="control-label"></label>
                <input asp-for="NotaRoteiro" class="form-control" />
                <span asp-validation-for="NotaRoteiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaSonoplastia" class="control-label"></label>
                <input asp-for="NotaSonoplastia" class="form-control" />
                <span asp-validation-for="NotaSonoplastia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Perfil">Voltar</a>
</div>

